*{
    margin:0;
    padding:0;
}

button{
    display:block;
    color:white;
    border-radius: 5px;
    margin:5px;
    padding:10px;
    width:250px;
    background-color:#4e81ac;
}

#lateral_last{
    background-image: url("../img/ad_background.png");
}
#lateral_left, #lateral_right{
    display:inline-block;
    padding:10px;
}

header{
    height: 180px;
}

#texto_header{
    background-color: #4e81ac;
}

header img{
    width: 80px;
    margin-left: 10px;
}

header h1{
    display:inline-block;
    font-size: 40px;
    color: gray;
}

header h2{
    color:white;
    font-size: 30px;
    margin-left: 10px;
    padding:20px;
}

#lateral_first{
    padding:10px;
}

#lateral_first p{
    font-weight: bolder;
}

#lateral_first p:first-child{
    font-size: 20px;
}
 
#lateral_first button:last-child{
    background-color: #ef7e00;
}

#lateral_last button{
    background-color: #32c8df;
    margin-left: 20px;
    font-size: 15px;
}

hr{
    height:1px;
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

#lateral_last p{
    color:white;
    text-align: center;
    font-size: 30px;
    padding:10px;
}