*{
    margin:0;
    padding:0;
}

button{
    display:block;
    color:white;
    border-radius: 5px;
    margin:5px;
    padding:10px;
    width:250px;
    background-color:#4e81ac;
}

#lateral_last{
    background-image: url("../img/ad_background.png");
}
#lateral_left, #lateral_right{
    display:inline-block;
    padding:10px;
}

header{
    height: 180px;
}

#texto_header{
    background-color: #4e81ac;
}

#client h3{
    color: #4e81ac;
    margin-bottom: 10px;
}

header img{
    width: 80px;
    margin-left: 10px;
}

header h1{
    display:inline-block;
    font-size: 40px;
    color: gray;
}

header h2{
    color:white;
    font-size: 30px;
    margin-left: 10px;
    padding:20px;
}

#lateral_first{
    padding:10px;
}

#lateral_first p{
    font-weight: bolder;
}

#lateral_first p:first-child{
    font-size: 20px;
}
 
#lateral_first button:last-child{
    background-color: #ef7e00;
}

#lateral_last button{
    background-color: #32c8df;
    margin-left: 20px;
    font-size: 15px;
}

hr{
    height:1px;
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

#lateral_last p{
    color:white;
    text-align: center;
    font-size: 30px;
    padding:10px;
}

#lateral_left{
    width:30%;
    vertical-align: top;
}

#lateral_right{
    width: 60%;
    margin-left: 50px;
}

#center-top, #center-bottom, #center-top p, #center-bottom p{
    display:inline-block;
}

#center-top img{
    width:10%;
}

#center-bottom img{
    width: 8%;
    top:10px;
    vertical-align: top;
}

#central-up{
    position: relative;
}


#center-bottom{
    position: absolute;
	top: 0;
	bottom: 20%;
	left: 70%;
	right: 0;
	width: 50%;
	height: 30%;
    margin: auto;
}

#center-top{
    width: 40%;
}

#client{
    margin-top: 10%;
}

#client p, #client ul li, #client ol li{
    margin-bottom: 10px;
}

#client ul li{
margin-left: 30px;
}

#client img{
    width: 50%;
    margin-left: 20%;
}

#bottom{
    border: #4e81ac solid 3px;
    position: relative;
}

#bottom img{
    width: 30%;
}

#bottom p, #bottom h3{
    display: block;
    position: absolute;
	top: 10px;
    right: 0;
    left:40%;
	width: 50%;
}

#bottom p{
    margin-top: 30px;
}

/*#padre {
	position: relative;
}
#hijo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 30%;
	margin: auto;
}

